h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
    color: white;
    
}

p {
    
    text-align: center;
    font-size: 16px;
    margin: 10px;
}    
 
a {
    color: aquamarine;
    font-size: 16px;
}

body {
    background-color: black;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h2 {
    color: white;
    font-size: 42px;
    font-family: Verdana;
    font-weight: 300;
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 21px;
    font-family: Verdana;
    color: gray;
}

.image1{
  display: block;
  margin: auto;
  width: 70%;
  
}

.image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}

.end-line {
    text-align: right;
    color: gray;
}